:root {
    --md-primary-fg-color:        #666666;
}

body {
    color: #666666;
}

.md-typeset h1 {
    color: #e55510;
}

h2 {
    color: #5dce34;
}

h3 {
    color: #139ee4;
}

.md-typeset .grid {
    grid-template-columns: repeat(3, 1fr);
}